WebApplication1/Service References/AdminService/AdminService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.AdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdmin_selectGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:selectGrupo" />
  </wsdl:message>
  <wsdl:message name="IAdmin_selectGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_insertGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:insertGrupo" />
  </wsdl:message>
  <wsdl:message name="IAdmin_insertGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_updateGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:updateGrupo" />
  </wsdl:message>
  <wsdl:message name="IAdmin_updateGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateGrupoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdmin">
    <wsdl:operation name="selectGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/selectGrupo" message="tns:IAdmin_selectGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/selectGrupoResponse" message="tns:IAdmin_selectGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/insertGrupo" message="tns:IAdmin_insertGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/insertGrupoResponse" message="tns:IAdmin_insertGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/updateGrupo" message="tns:IAdmin_updateGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/updateGrupoResponse" message="tns:IAdmin_updateGrupo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdmin" type="tns:IAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectGrupo">
      <soap:operation soapAction="http://tempuri.org/IAdmin/selectGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGrupo">
      <soap:operation soapAction="http://tempuri.org/IAdmin/insertGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGrupo">
      <soap:operation soapAction="http://tempuri.org/IAdmin/updateGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdmin" binding="tns:BasicHttpBinding_IAdmin">
      <soap:address location="http://localhost:57962/AlfanetWCF_Library.AdminService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>