WebApplication1/Service References/AdminService/AlfanetWCF_Library2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" />
  <xs:element name="selectGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" minOccurs="0" name="config" nillable="true" type="q1:ConfigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" minOccurs="0" name="selectGrupoResult" nillable="true" type="q2:ArrayOfObjGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" minOccurs="0" name="config" nillable="true" type="q3:ConfigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertGrupoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGrupo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateGrupoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>