website/Service References/RegistrosService/RegistrosWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjExample">
    <xs:sequence>
      <xs:element name="cliente" type="xs:int" />
      <xs:element name="dataBaseEngine" type="xs:int" />
      <xs:element name="descripcion" nillable="true" type="xs:string" />
      <xs:element name="estadoSolicitud" type="xs:int" />
      <xs:element name="fechaEstado" type="xs:dateTime" />
      <xs:element name="fechaSolicitud" type="xs:dateTime" />
      <xs:element name="prioridadSolicitud" type="xs:int" />
      <xs:element name="tipoSolicitud" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjExample" nillable="true" type="tns:ObjExample" />
  <xs:complexType name="ConfigData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataBaseEngine" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigData" nillable="true" type="tns:ConfigData" />
</xs:schema>