WebApplication1/Service References/WorkFlowService/WorkFlowService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkFlowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.WorkFlowService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.WorkFlowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.WorkFlowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkFlow_GetWorkFlowDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkFlowDocuments" />
  </wsdl:message>
  <wsdl:message name="IWorkFlow_GetWorkFlowDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkFlowDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkFlow_GetDependencias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDependencias" />
  </wsdl:message>
  <wsdl:message name="IWorkFlow_GetDependencias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDependenciasResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkFlow_GetAcciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcciones" />
  </wsdl:message>
  <wsdl:message name="IWorkFlow_GetAcciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkFlow_RedirectDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:RedirectDocument" />
  </wsdl:message>
  <wsdl:message name="IWorkFlow_RedirectDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedirectDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkFlow">
    <wsdl:operation name="GetWorkFlowDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkFlow/GetWorkFlowDocuments" message="tns:IWorkFlow_GetWorkFlowDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkFlow/GetWorkFlowDocumentsResponse" message="tns:IWorkFlow_GetWorkFlowDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDependencias">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkFlow/GetDependencias" message="tns:IWorkFlow_GetDependencias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkFlow/GetDependenciasResponse" message="tns:IWorkFlow_GetDependencias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkFlow/GetAcciones" message="tns:IWorkFlow_GetAcciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkFlow/GetAccionesResponse" message="tns:IWorkFlow_GetAcciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RedirectDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkFlow/RedirectDocument" message="tns:IWorkFlow_RedirectDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkFlow/RedirectDocumentResponse" message="tns:IWorkFlow_RedirectDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkFlow" type="tns:IWorkFlow">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkFlowDocuments">
      <soap:operation soapAction="http://tempuri.org/IWorkFlow/GetWorkFlowDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDependencias">
      <soap:operation soapAction="http://tempuri.org/IWorkFlow/GetDependencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcciones">
      <soap:operation soapAction="http://tempuri.org/IWorkFlow/GetAcciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectDocument">
      <soap:operation soapAction="http://tempuri.org/IWorkFlow/RedirectDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkFlowService">
    <wsdl:port name="BasicHttpBinding_IWorkFlow" binding="tns:BasicHttpBinding_IWorkFlow">
      <soap:address location="http://localhost:57962/AlfanetWCF_Library.WorkFlowService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>