website/Service References/DocumentosFisicosService/DocumentosFisicosService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentosFisicosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.DocumentosFisicosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.DocumentosFisicosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.DocumentosFisicosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentosFisicos_GetPendingDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentosFisicos_GetPendingDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosFisicos_DocumentAccepted_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentAccepted" />
  </wsdl:message>
  <wsdl:message name="IDocumentosFisicos_DocumentAccepted_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentAcceptedResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosFisicos_GetReceivedDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceivedDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentosFisicos_GetReceivedDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceivedDocumentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentosFisicos">
    <wsdl:operation name="GetPendingDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosFisicos/GetPendingDocuments" message="tns:IDocumentosFisicos_GetPendingDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosFisicos/GetPendingDocumentsResponse" message="tns:IDocumentosFisicos_GetPendingDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentAccepted">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosFisicos/DocumentAccepted" message="tns:IDocumentosFisicos_DocumentAccepted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosFisicos/DocumentAcceptedResponse" message="tns:IDocumentosFisicos_DocumentAccepted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosFisicos/GetReceivedDocuments" message="tns:IDocumentosFisicos_GetReceivedDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosFisicos/GetReceivedDocumentsResponse" message="tns:IDocumentosFisicos_GetReceivedDocuments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentosFisicos" type="tns:IDocumentosFisicos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPendingDocuments">
      <soap:operation soapAction="http://tempuri.org/IDocumentosFisicos/GetPendingDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentAccepted">
      <soap:operation soapAction="http://tempuri.org/IDocumentosFisicos/DocumentAccepted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedDocuments">
      <soap:operation soapAction="http://tempuri.org/IDocumentosFisicos/GetReceivedDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentosFisicosService">
    <wsdl:port name="BasicHttpBinding_IDocumentosFisicos" binding="tns:BasicHttpBinding_IDocumentosFisicos">
      <soap:address location="http://localhost:57962/AlfanetWCF_Library.DocumentosFisicosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>