WebApplication1/Service References/VisorImagenesService/VisorImagenesService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VisorImagenesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.VisorImagenesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.VisorImagenesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.VisorImagenesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" />
      <xsd:import schemaLocation="http://desktop-1aeev3k:57962/AlfanetWCF_Library.VisorImagenesService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVisorImagenes_GetFacturaImagenById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacturaImagenById" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_GetFacturaImagenById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacturaImagenByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_GetRutaImagenById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRutaImagenById" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_GetRutaImagenById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRutaImagenByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_SelectRutaCodigoFacturas_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectRutaCodigoFacturas" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_SelectRutaCodigoFacturas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectRutaCodigoFacturasResponse" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_InsertRutaImagen_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRutaImagen" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_InsertRutaImagen_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRutaImagenResponse" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_InsertFacturaImagen_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFacturaImagen" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_InsertFacturaImagen_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFacturaImagenResponse" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_EliminarImagen_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarImagen" />
  </wsdl:message>
  <wsdl:message name="IVisorImagenes_EliminarImagen_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarImagenResponse" />
  </wsdl:message>
  <wsdl:portType name="IVisorImagenes">
    <wsdl:operation name="GetFacturaImagenById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisorImagenes/GetFacturaImagenById" message="tns:IVisorImagenes_GetFacturaImagenById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisorImagenes/GetFacturaImagenByIdResponse" message="tns:IVisorImagenes_GetFacturaImagenById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRutaImagenById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisorImagenes/GetRutaImagenById" message="tns:IVisorImagenes_GetRutaImagenById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisorImagenes/GetRutaImagenByIdResponse" message="tns:IVisorImagenes_GetRutaImagenById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectRutaCodigoFacturas">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisorImagenes/SelectRutaCodigoFacturas" message="tns:IVisorImagenes_SelectRutaCodigoFacturas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisorImagenes/SelectRutaCodigoFacturasResponse" message="tns:IVisorImagenes_SelectRutaCodigoFacturas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRutaImagen">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisorImagenes/InsertRutaImagen" message="tns:IVisorImagenes_InsertRutaImagen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisorImagenes/InsertRutaImagenResponse" message="tns:IVisorImagenes_InsertRutaImagen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFacturaImagen">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisorImagenes/InsertFacturaImagen" message="tns:IVisorImagenes_InsertFacturaImagen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisorImagenes/InsertFacturaImagenResponse" message="tns:IVisorImagenes_InsertFacturaImagen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarImagen">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisorImagenes/EliminarImagen" message="tns:IVisorImagenes_EliminarImagen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisorImagenes/EliminarImagenResponse" message="tns:IVisorImagenes_EliminarImagen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVisorImagenes" type="tns:IVisorImagenes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFacturaImagenById">
      <soap:operation soapAction="http://tempuri.org/IVisorImagenes/GetFacturaImagenById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRutaImagenById">
      <soap:operation soapAction="http://tempuri.org/IVisorImagenes/GetRutaImagenById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRutaCodigoFacturas">
      <soap:operation soapAction="http://tempuri.org/IVisorImagenes/SelectRutaCodigoFacturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRutaImagen">
      <soap:operation soapAction="http://tempuri.org/IVisorImagenes/InsertRutaImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFacturaImagen">
      <soap:operation soapAction="http://tempuri.org/IVisorImagenes/InsertFacturaImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarImagen">
      <soap:operation soapAction="http://tempuri.org/IVisorImagenes/EliminarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VisorImagenesService">
    <wsdl:port name="BasicHttpBinding_IVisorImagenes" binding="tns:BasicHttpBinding_IVisorImagenes">
      <soap:address location="http://localhost:57962/AlfanetWCF_Library.VisorImagenesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>