website/Service References/AdminService/AlfanetWCF_Library1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Alfanet.CommonObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConfigData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataBaseEngine" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigData" nillable="true" type="tns:ConfigData" />
  <xs:complexType name="ArrayOfObjGrupo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjGrupo" nillable="true" type="tns:ObjGrupo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjGrupo" nillable="true" type="tns:ArrayOfObjGrupo" />
  <xs:complexType name="ObjGrupo">
    <xs:sequence>
      <xs:element name="grupoCodigo" nillable="true" type="xs:string" />
      <xs:element name="grupoCodigoPadre" nillable="true" type="xs:string" />
      <xs:element name="grupoConsecutivo" type="xs:int" />
      <xs:element name="grupoHabilitar" nillable="true" type="xs:string" />
      <xs:element name="grupoNombre" nillable="true" type="xs:string" />
      <xs:element name="grupopermiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjGrupo" nillable="true" type="tns:ObjGrupo" />
</xs:schema>